body {
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background-color: #333;
    height: 60px;
}

.header__top {
    width: 100%;
    max-width: 1040px;
    height: 60px;
    margin: auto;
}

.header__logo {
    width: 50%;
    height: 60px;
    line-height: 60px;
    float: left;
}

.nav {
    width: 50%;
    height: 60px;
    float: right;
    text-align: right;
}

.nav__menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav__item {
    height: 60px;
    line-height: 60px;
    margin-left: 6px;
    margin-right: 6px;
    float: right;

}

.nav__link {
    color: #fff;
    text-decoration: none;
}

.nav__link:hover {
    background: #484b77;
    color: gold;
}

.main {
    background-color: #666;
    width: 100%;
    height: 600px;
}

.footer {
    background-color: #999;
    width: 100%;
    height: 36px;
}
