body {
    background-color: #000;
    color: #fff;
}

.header {
    background-color: cadetblue;
}

.header__logo {
    background-color: aqua;
    width: 50%;
    height: 60px;
    font-size: 48px;
    float: left;
}

.nav {
    background-color: antiquewhite;

}

.nav__menu {
    background-color: blue;
    width: 50%;
    height: 60px;
    float: right;
}

.nav__item {
    display: inline;
}

main {
    background-color: blueviolet;
    width: 100%;
    height: 600px;
}

footer {
    background-color: brown;
    width: 100%;
    height: 36px;
}
