body {
    background-color: #000;
    color: #fff;
}

header {
    background-color: cadetblue;
}

.logo {
    background-color: aqua;
    font-size: 48px;
    float: left;
}

nav {
    background-color: antiquewhite;
}

.menu {
    background-color: blue;
}

main {
    background-color: blueviolet;
}

footer {
    background-color: brown;
    width: 100%;
    height: 36px;
}
